<section class="hero" [attr.aria-label]="'ARIA.HERO' | translate">
    <app-slideshow
        [slides]="slides"
        [showOverlay]="true"
        [overlayTitle]="'HERO.TITLE' | translate"
        [overlaySubtitle]="'HERO.SUBTITLE' | translate"
        [cards]="cards"
        [showCards]="true"
        [cardsPerRow]="2">
    </app-slideshow>
</section>

<section class="contentWrap" [attr.aria-label]="'ARIA.CONTENT' | translate">
    <div class="scrollPanel">
        <p>
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.PARA1' | translate }}
        </p>
        <p>
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.PARA2' | translate }}
        </p>
        <p>
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.PARA3' | translate }}
        </p>
        <p>
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.PARA4' | translate }}
        </p>
        <ul>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM1' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM2' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM3' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM4' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM5' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM6' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM7' | translate }}</li>
            </p>
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_TEXT' | translate }}
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM8' | translate }}</li>
            </p>
        </ul>
        {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.OUTRO' | translate }}

    </div>
    <div class="model-wrapper" aria-hidden="true">
        <model-viewer
            src="/CT2_0.glb"
            alt="CT 2.0 model"
            camera-controls
            auto-rotate
            disable-zoom
            disable-pan
            interaction-prompt="none"
            camera-orbit="0deg 75deg 5m"
            camera-target="0m 1.3m 0m"
            field-of-view="30deg">
        </model-viewer>
    </div>
</section>

<app-karriere-section></app-karriere-section>
