<section class="hero" [attr.aria-label]="'ARIA.HERO' | translate">
    <app-slideshow [slides]="slides" [showOverlay]="true" [overlayTitle]="'HERO.TITLE' | translate"
        [overlaySubtitle]="'HERO.SUBTITLE' | translate" [cards]="cards" [showCards]="true" [cardsPerRow]="2">
    </app-slideshow>
</section>

<section class="contentWrap" [attr.aria-label]="'ARIA.CONTENT' | translate">
    <div class="scrollPanel">
        <p class="intro-text">
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.PARA1' | translate }}
        </p>
        <p class="intro-text">
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.PARA2' | translate }}
        </p>
        <p class="intro-text">
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.PARA3' | translate }}
        </p>
        <p class="intro-text">
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.PARA4' | translate }}
        </p>
        <ul>
            <p class="intro-text">
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM1' | translate }}</li>
            </p>
            <p class="intro-text">
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM2' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM3' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM4' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM5' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM6' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM7' | translate }}</li>
            </p>
            {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_TEXT' | translate }}
            <p>
                <li>{{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.LIST_ITEM8' | translate }}</li>
            </p>
        </ul>
        {{ 'PRODUCT_PAGES.ANLAGENINTEGRATION.OUTRO' | translate }}

    </div>
    <div class="model-wrapper" aria-hidden="true">
        <model-viewer style="zoom: 1; " src="CT 2.0 + Serverracks.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls tone-mapping="neutral" poster="poster.webp" shadow-intensity="1.06" shadow-softness="0.85" exposure="0.97">

    <button class="Hotspot" slot="hotspot-1" data-position="2.2163294344262576m 1.1121100536276907m -2.7394120185515085m" data-normal="0m 0m 1m" data-visibility-attribute="visible">

        <div class="HotspotAnnotation">CT 2.0</div>

    </button><button class="Hotspot" slot="hotspot-2" data-position="-1.957366668458242m 1.2796641772552046m -2.7062060721583556m" data-normal="0.07669631236867146m 0m 0.9970544998489537m" data-visibility-attribute="visible">

        <div class="HotspotAnnotation">Serverracks</div>

    </button><button class="Hotspot" slot="hotspot-3" data-position="-1.983891496837721m 3.2728939914796324m -3.2588535547592876m" data-normal="-0.00003006629028278397m 3.029462791921337e-7m 0.9999999995479634m" data-visibility-attribute="visible">

        <div class="HotspotAnnotation">Stahlbühne</div>

    </button><button class="Hotspot" slot="hotspot-5" data-position="2.258018244757956m 2.7465758804218137m -3.503891905429075m" data-normal="0.00009753956643527388m 0.8373260639829287m 0.5467038074322232m" data-visibility-attribute="visible">

        <div class="HotspotAnnotation">Kühlkreisläufe</div>

    </button><button class="Hotspot" slot="hotspot-8" data-position="-3.229217368484818m 0.9806486484014916m -4.894493663782928m" data-normal="-0.6807064451055411m -2.2192520608827442e-7m -0.7325563019944118m" data-visibility-attribute="visible">

        <div class="HotspotAnnotation">Rackeinhausung</div>

    </button>

    <div class="progress-bar hide" slot="progress-bar">

        <div class="update-bar"></div>

    </div>

    <button slot="ar-button" id="ar-button">

        View in your space

    </button>

</model-viewer>
    </div>
</section>

<app-karriere-section></app-karriere-section>