<section class="hero" aria-label="Hero">
    <div class="heroRow">
        <app-slideshow [slides]="slides" [showOverlay]="true" [overlayTitle]="'HERO.TITLE' | translate"
            [overlaySubtitle]="'HERO.SUBTITLE' | translate">
        </app-slideshow>
    </div>

    <div class="cards">
        <article class="card invisible-card">
            <h3>Placeholder</h3>
            <p>
                This card is invisible
            </p>
        </article>

        <article class="card invisible-card">
            <h3>Placeholder</h3>
            <p>
                This card is invisible
            </p>
        </article>
    </div>
</section>

<section class="contentWrap" aria-label="Content">
    <div class="scrollPanel">
        <p>
            Die MBO Trinity GmbH plant und integriert hochsensible Anlagen wie z.B.: MBMW-Tools, Photomask development
            systems, Sputtering tools, Scanning Electron Microscopes, Test benches, Climate Chambers in Reinräumen und
            Grauräumen.
        </p>
        <p>
            In der Regel treten wir bei der Projektumsetzung als Generalunternehmer auf und Koordinieren die gesamte
            Projektabwicklung.
        </p>
        <p>
            Wir sind es gewohnt Integrationen von komplexesten Anlagen in bestehende Reinraumumgebungen bei laufender
            Produktion durchzuführen. Selbst Fundamentarbeiten mit Abbruch, Aushub und Betonage wurden schon mehrmals in
            bestehenden Reinraumumgebungen bei aufrechter Produktion umgesetzt.
        </p>
        <p>
            Die Leistungen der MBO Trinity GmbH umfassen dabei den gesamten Projektzyklus:
        </p>
        <ul>
            <p>
                <li>Wir führen die Layout- und Detailplanung hinsichtlich der Anlagenintegration, inklusive der Medien-
                    und
                    Energieversorgung sowie der Sub-Componenten durch</li>
            </p>
            <p>
                <li>Planen und adaptieren bestehende Prozessumgebungen oder errichten neue Prozessumgebungen zur
                    Aufnahme
                    der
                    Anlage
                    und zur Einhaltung der Spezifikationen</li>
            </p>
            <p>
                <li> Wir Koordinieren die Installation durch den Anlagenlieferanten bzw. der Sub-Kontraktoren oder
                    führen
                    diese
                    selbstständig durch</li>
            </p>
            <p>
                <li>Unterstützen bei der FAT durch den Anlagenlieferanten bzw. führen diese selbstständig durch
                    Erstellen die Projekt-Dokumentation</li>
            </p>
            <p>
                <li>Wir Koordinieren die Installation durch den Anlagenlieferanten bzw. der Sub-Kontraktoren oder führen
                    diese selbstständig durch</li>
            </p>
            <p>
                <li>Wir Koordinieren die Installation durch den Anlagenlieferanten bzw. der Sub-Kontraktoren oder führen
                    diese selbstständig durch</li>
            </p>
            <p>
                <li>Unterstützen bei der FAT durch den Anlagenlieferanten bzw. führen diese selbstständig durch
                    Erstellen die Projekt-Dokumentation</li>
            </p>
            Wir stellen sicher, dass strengste Spezifikationen eingehalten werden und das die Implementierung
            Ihrer Anlage qualitativ auf höchstem Niveau umgesetzt wird.
            <p>
                <li>Erstellen die Projekt-Dokumentation</li>
            </p>
        </ul>
        Wir stellen sicher, dass strengste Spezifikationen eingehalten werden und das die Implementierung Ihrer Anlage qualitativ auf höchstem Niveau umgesetzt wird.

    </div>
</section>

<app-karriere-section></app-karriere-section>