<section class="hero" aria-label="Hero">
    <div class="heroRow">
        <app-slideshow [slides]="slides" [showOverlay]="true" [overlayTitle]="'HERO.TITLE' | translate"
            [overlaySubtitle]="'HERO.SUBTITLE' | translate">
        </app-slideshow>
    </div>
    <div class="cards">
        <article class="card reinraum" id="unternehmen" routerLink="/Produkt/reinraumloesung">
            <h3>Reinraumtechnologie</h3>
            <p>
                Mit entscheidendem Know-How und Erfahrung auf dem Gebiet der Reinraumtechnik mit besonderer Sorgfalt und
                dem Antrieb zu den Besten zählen zu wollen.
            </p>
        </article>
        <article class="card anlagenintegration" id="unternehmen" routerLink="/Produkt/anlagenintegration">
            <h3>Anlagenintegration</h3>
            <p>
                Die MBO integriert als Single-Point-of-Accountability Anlagen und Technologien in die Fertigungsprozesse
                der Auftraggeber.
            </p>
        </article>

        <article class="card praezisionsklimageraet" id="unternehmen" routerLink="/Produkt/praezisionsklimageraet">
            <h3>Die MBO integriert als Single-Point-of-Accountability Anlagen und Technologien in die Fertigungsprozesse
                der Auftraggeber.</h3>
            <p>
                Hochpräzise Temperatur- und Feuchteregelung für sensible Prozesse in Produktion, Test-, Labor- und
                Prozessumfeld.
            </p>
        </article>

        <article class="card praezisionstermostat" id="produkte" routerLink="/Produkt/praezisionstermostat">
            <h3>Präzisionsthermostate</h3>
            <p>
                Hochpräzise Temperaturregelung für flüssigkeitsführende sensible Prozesse in Produktion, Test-, Labor-
                und Prozessumfeld.
            </p>
        </article>
    </div>
</section>