#Textfeld6.shape {
    width: 166.69406824146984px;
    height: 38.77501312335958px;
    background: transparent;
    display: table;
}

#Textfeld6 .font {
    font-size: 18px;
    font-family: "Helvetica", Times, serif;
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

#Textfeld6.position {
    position: absolute;
    top: 45.23044619422572px;
    left: 364.67433070866144px;
}

#Textfeld7.shape {
    width: 166.69406824146984px;
    height: 38.77501312335958px;
    background: transparent;
    display: table;
}

#Textfeld7 .font {
    font-size: 18px;
    font-family: "Helvetica", Times, serif;
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

#Textfeld7.position {
    position: absolute;
    top: 45.23044619422572px;
    left: 572.2158530183727px;
}

#Textfeld8.shape {
    width: 166.69406824146984px;
    height: 38.77501312335958px;
    background: transparent;
    display: table;
}

#Textfeld8 .font {
    font-size: 18px;
    font-family: "Helvetica", Times, serif;
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

#Textfeld8.position {
    position: absolute;
    top: 45.23044619422572px;
    left: 755.4082939632547px;
}

#Textfeld11.shape {
    width: 166.69406824146984px;
    height: 38.77501312335958px;
    background: transparent;
    display: table;
}

#Textfeld11 .font {
    font-size: 18px;
    font-family: "Helvetica", Times, serif;
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

#Textfeld11.position {
    position: absolute;
    top: 45.23044619422572px;
    left: 936.0066141732284px;
}

#Textfeld3.shape {
    width: 509.540157480315px;
    height: 130.86561679790026px;
    background: transparent;
    display: table;
}

#Textfeld3 .font {
    font-size: 21px;
    font-family: "Arial", Times, serif;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

#Textfeld3.position {
    position: absolute;
    top: 230.91758530183728px;
    left: 389.58687664042px;
}

#Fußzeilenplatzhalter5.shape {
    width: 1096.4405249343833px;
    height: 38.333333333333336px;
    background: #FFFFFF;
    display: table;
}

#Fußzeilenplatzhalter5 .font {
    font-size: 10.5px;
    font-family: "Arial", Times, serif;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

#Fußzeilenplatzhalter5.position {
    position: absolute;
    top: 661.2986876640421px;
    left: 95.14708661417323px;
}

#Textfeld12.shape {
    width: 761.9411023622048px;
    height: 96.93753280839896px;
    background: transparent;
    display: table;
}

#Textfeld12 .font {
    font-size: 54px;
    font-family: "Arial", Times, serif;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

#Textfeld12.position {
    position: absolute;
    top: 508.8007349081365px;
    left: 309.08944881889767px;
}

#Grafik5.shape {
    width: 143.70488188976378px;
    height: 50.16671916010499px;
}

#Grafik5.position {
    position: absolute;
    top: 39.53459317585302px;
    left: 47.15254593175853px;
}

#Grafik20.shape {
    width: 34.85070866141732px;
    height: 22.75769028871391px;
}

#Grafik20.position {
    position: absolute;
    top: 53.23905511811024px;
    left: 1119.1990551181102px;
}

#Grafik1.shape {
    width: 216.74162729658792px;
    height: 288.98887139107615px;
}

#Grafik1.position {
    position: absolute;
    top: 163.9994750656168px;
    left: 72.29301837270341px;
}

#Grafik2.shape {
    width: 241.72535433070868px;
    height: 313.2760104986877px;
}

#Grafik2.position {
    position: absolute;
    top: 163.9994750656168px;
    left: 967.9608398950131px;
}