<section class="contentWrap" aria-label="Privacy Policy">
    <div class="scrollPanel">
        <h1>Datenschutzerklärung</h1>

        <h2>Wer wir sind</h2>
        <p>Die Adresse unserer Website ist: <a href="https://www.mbo-services.at">www.mbo-services.at</a>.</p>

        <h2>Welche personenbezogenen Daten wir sammeln und warum wir sie sammeln</h2>
        <p>
            Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher
            ausschließlich auf Grundlage der geltenden gesetzlichen Bestimmungen (EU Datenschutz-Grundverordnung DSGVO,
            TKG 2003, Datenschutzgesetz DSG). In diesen Datenschutzinformationen informieren wir Sie über die
            wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer Tätigkeiten.
        </p>
        <p style="color: white;">
            Die Nutzung unserer Webseite ist in der Regel ohne die Angabe personenbezogener Daten möglich. Sollten Sie,
            z.B. zum Zwecke der Kontaktaufnahme oder zum Abonnement eines Newsletters persönliche Daten eingeben,
            beauftragen wir für den Versand unseres Newsletters Auftragsverarbeiter. Diese haben sich zur Einhaltung der
            geltenden datenschutzrechtlichen Bestimmungen uns gegenüber verpflichtet. Es wurde ein
            Auftragsverarbeitungsvertrag gemäß Art 28 DSGVO abgeschlossen. Nähere Informationen zu den von uns
            beauftragten Auftragsverarbeitern können Sie unter <a style="color: white"
                href="mailto:office&#64;mbo-services.at">office&#64;mbo-trinity.com</a> anfragen.
            Die Datenverarbeitung erfolgt auf Basis der gesetzlichen Bestimmungen des § 96 Abs 3 TKG sowie des Art 6 Abs
            1 lit a (Einwilligung) DSGVO.
        </p>

        <h3>Verschlüsselte Übertragung</h3>
        <p>
            Diese Webseite nutzt aus Gründen der Sicherheit und des Datenschutzes eine SSL Verschlüsselung, die
            verhindert, dass Dritte die von Ihnen eingegebenen Daten auf dem Übertragungsweg abfangen und lesen können.
            Sie erkennen die aktive Verschlüsselung an dem Vorhängeschloss oder ähnlichen Symbolen in der Adresszeile
            Ihres Browsers.
        </p>

        <h3>Kontakt mit uns</h3>
        <p>
            Wenn Sie per E-Mail oder auf anderem Wege Kontakt mit uns aufnehmen, werden die von Ihnen bekannt gegebenen
            Daten (Name, E-Mail-Adresse und optional die Telefonnummer) zwecks Bearbeitung der Anfrage und für den Fall
            von Anschlussfragen für ein Jahr bei uns gespeichert. Sollte sich aus der Anfrage ein Vertrag ergeben,
            gelten die gesetzlichen Aufbewahrungsfristen. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter. Die
            Datenverarbeitung erfolgt auf Basis des Art 6 Abs 1 lit b (Vertragserfüllung) und Art 6 Abs 1 lit a
            (Einwilligung) der DSGVO.
        </p>
        <p>
            MBO services GmbH setzt technische und organisatorische Sicherheitsmaßnahmen ein, um die gespeicherten
            personenbezogenen Daten gegen zufällige oder vorsätzliche Manipulation, Verlust oder Zerstörung und gegen
            den Zugriff unberechtigter Personen zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend des
            technischen Fortschritts fortlaufend verbessert.
        </p>
        <p>
            Wir weisen aber darauf hin, dass die Datenübertragungen im Internet (z.B. bei der Kommunikation per E-Mail)
            Sicherheitslücken aufweisen können. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
            möglich. Für den unautorisierten Zugriff Dritter übernehmen wir keine Haftung, sofern diese missbräuchliche
            Verwendung nicht von uns schuldhaft verursacht wurde.
        </p>

        <h2>Cookies</h2>
        <p>
            Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe des
            Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an. Durch die Nutzung unserer
            Website willigen Sie damit ein, dass wir Cookies setzen.
        </p>
        <p>
            Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige Cookies bleiben auf Ihrem
            Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch
            wiederzuerkennen.
        </p>
        <p>
            Einige dieser Cookies sind für den Betrieb der Webseite erforderlich und dienen der Anmeldung und speichern
            Ihre Einwilligung in nicht erforderliche Cookies. Wenn Sie nicht wünschen, dass die notwendigen Cookies
            gespeichert werden, können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies
            informiert und Sie dies nur im Einzelfall erlauben.
        </p>
        <p>
            Rechtsgrundlage für die Nutzung erforderlicher Cookies ist Art 6 Abs 1 lit f (berechtigte Interessen) der
            DSGVO. Berechtigte Interessen im Sinne der DSGVO sind hierbei die ordnungsgemäße und sichere Funktion der
            Webseite sowie die Optimierung unseres Angebotes.
        </p>
        <p>
            Darüber hinaus werden eventuell und nur mit Ihrer Einwilligung weitere, für den Betrieb der Webseite nicht
            unbedingt erforderliche Cookies gespeichert. Details dazu in den folgenden Abschnitten.
        </p>

        <h2>Google Analytics</h2>
        <p>
            Unsere Website verwendet mit Ihrer Einwilligung Funktionen des Webanalysedienstes „Google Analytics“ des
            Anbieters Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, USA. Dazu werden Cookies
            verwendet, die eine Analyse der Nutzung der Website durch Ihre Besucher ermöglicht. Die dadurch erzeugten
            Informationen werden auf den Server des Anbieters übertragen und dort gespeichert.
        </p>
        <p>
            Sofern Sie der Nutzung von Google Analytics zugestimmt haben, werden in Ihrem Browser Cookies gesetzt, die
            Sie bei einem erneuten Besuch auf unserer Webseite identifizieren und uns erlauben, Besucher zu
            unterscheiden und zu analysieren, was Sie sich bei früheren Besuchen auf unserer Webseite angesehen haben.
            Da uns die Privatsphäre unserer Nutzer wichtig ist, werden diese Daten pseudonymisiert, d.h. wir können sie
            keinen bestimmten Personen zuordnen und wissen nicht, wer der jeweilige Besucher war.
        </p>
        <p>
            Google sichert die Einhaltung der EU Datenschutz-Grundverordnung DSGVO zu und außerdem ist Google unter
            dem US-EU Datenschutzabkommen „Privacy Shield“ zertifiziert.
        </p>
        <p>
            Die Datenverarbeitung erfolgt auf Basis der gesetzlichen Bestimmungen des § 96 Abs 3 TKG sowie des Art 6 Abs
            1 lit a (Einwilligung) der DSGVO.
        </p>
        <p>
            Die Google Nutzungsbedingungen und weitere Informationen zum Datenschutz finden Sie unter folgenden Links:
            <a href="https://www.google.com/analytics/terms/de.html"
                target="_blank">https://www.google.com/analytics/terms/de.html</a> und <a
                href="http://www.google.com/intl/de/policies/privacy/"
                target="_blank">http://www.google.com/intl/de/policies/privacy/</a>
        </p>

        <h2>Datenspeicherung</h2>
        <p>
            Zum Zweck der Buchhaltung werden folgende Daten unserer Kunden bei uns gespeichert: Name, Adresse,
            Telefonnummer, E-Mail-Adresse, USt. ID. Sofern Sie einem Einzugsauftrag (SEPA Lastschriftmandat)
            zugestimmt haben, auch Ihre Bankverbindung. Eine Weitergabe dieser Daten erfolgt nicht, mit Ausnahme der
            Übermittlung an die abwickelnden Bankinstitute/Zahlungsdienstleister zum Zwecke der Abbuchung, sowie an
            unseren Steuerberater zwecks Buchhaltung und zur Erfüllung unserer steuerrechtlichen Verpflichtungen. Die
            Daten werden ausschließlich innerhalb der EU gespeichert.
        </p>
        <p>
            Wir verarbeiten Ihre personenbezogenen Daten - soweit erforderlich - für die Dauer der gesamten
            Geschäftsbeziehung (von der Anbahnung, Abwicklung bis zur Beendigung eines Vertrags) sowie darüber hinaus
            gemäß den gesetzlichen Aufbewahrungs- und Dokumentationspflichten, die sich unter anderem aus dem
            Unternehmensgesetzbuch (UGB), der Bundesabgabenordnung (BAO) ergeben sowie bis zur Beendigung eines
            allfälligen Rechtsstreits und um etwaig fortlaufende Gewährleistungs- und Garantiefristen einhalten zu
            können.
        </p>
        <p>
            Die Datenverarbeitung erfolgt auf Basis der gesetzlichen Bestimmungen des § 96 Abs 3 TKG sowie des Art 6 Abs
            1 lit a (Einwilligung) und/oder lit b (notwendig zur Vertragserfüllung) der DSGVO.
        </p>

        <h2>Ihre Rechte</h2>
        <p style="color: white;">
            Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung,
            Datenübertragbarkeit, Widerruf und Widerspruch zu. Entsprechende Anfragen können an die E-Mail-Adresse <a
                href="mailto:office&#64;mbo-services.at">office&#64;mbo-trinity.com</a> adressiert werden. Die
            detaillierten
            Kontaktdaten finden Sie im Impressum der Website.
        </p>
        <p>
            Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
            datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der
            Aufsichtsbehörde beschweren. In Österreich ist dies die Datenschutzbehörde.
        </p>
    </div>
</section>