.scrollPanel {
    text-align: left !important;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    text-align: left !important;
}

/* New style for links */
a {
    color: white !important;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}