<section class="contentWrap" id="karriere" aria-label="Karriere">
    <section class="stage" aria-label="QR Section">
        <div class="photoCard" aria-label="AR Handy">
            <img src="/ar_handy.webp" alt="AR Experience"
                style="max-height: 420px; width: auto; border-radius: 10px; box-shadow: 0 20px 50px rgba(0,0,0,0.6);">
        </div>

        <div class="centerText">
            <h1>{{ 'QR_SECTION.TITLE_PRE' | translate }} <u>MBO</u></h1>
            <ol>
                <li>{{ 'QR_SECTION.STEP1_PRE' | translate }} <span class="hl">{{ 'QR_SECTION.QR_CODE' | translate
                        }}</span></li>
                <li>{{ 'QR_SECTION.STEP2' | translate }}</li>
                <li>{{ 'QR_SECTION.STEP3' | translate }}</li>
            </ol>
        </div>

        <div class="qrWrap">
            <div class="qrCard" aria-label="QR Code">
                <img src="/qr_code.png" alt="QR Code" style="width: 100%; height: auto;">
            </div>

            <!--  <div class="scanBtn" role="button" [attr.aria-label]="'QR_SECTION.SCAN_ME' | translate"></div> -->
        </div>
    </section>

    <div class="slogan">{{ 'COMMON.SLOGAN' | translate }}</div>
    <footer class="impressum" aria-label="Impressum">
        <!-- <div class="impressum-content">
            <div class="contact-info">
                <p>+43 502044-0</p>
                <p>office&#64;mbo-services.at</p>
            </div>
            <div></div>
            <div class="map-container">
                <img src="/map.svg" alt="Map Location">
            </div>
        </div> -->
        <div class="copyright-row">
            © MBO services GmbH 2026
            <div class="legal-links">
                <span>Privacy Policy</span>
                <span>Imprint</span>
            </div>
        </div>
    </footer>
</section>