<section class="hero" aria-label="Hero">
    <div class="heroRow">
        <app-slideshow [slides]="slides" [showOverlay]="true" [overlayTitle]="'HERO.TITLE' | translate"
            [overlaySubtitle]="'HERO.SUBTITLE' | translate">
        </app-slideshow>
    </div>
</section>

<section class="contentWrap" aria-label="Content">
    <div class="content-row">
        <div class="scrollPanel">
            <p>
                {{ 'CT_2_0.INTRO' | translate }}
            </p>
            <p>
                {{ 'CT_2_0.MODES_INTRO' | translate }}
            </p>

            <ul>
                <li>{{ 'CT_2_0.MODE1' | translate }}</li>

                <li>{{ 'CT_2_0.MODE2' | translate }}</li>

            </ul>

            <p>
                {{ 'CT_2_0.APPLICATIONS_TITLE' | translate }}
            </p>

            <ul>
                <li>{{ 'CT_2_0.APP1' | translate }} </li>
                <li>{{ 'CT_2_0.APP2' | translate }}</li>
                <li>{{ 'CT_2_0.APP3' | translate }}</li>
                <li>{{ 'CT_2_0.APP4' | translate }}</li>
                <li>{{ 'CT_2_0.APP5' | translate }}</li>
                <li>{{ 'CT_2_0.APP6' | translate }}</li>
            </ul>
        </div>
        <div class="ct_image">
            <img style="max-width: 400px; height: auto;" src="/CT2_0.png" alt="Cooling Tower CT 2.0">
        </div>
    </div>
</section>

<br>
<br>
<br>

<section class="contentWrap" aria-label="Content">
    <div class="content-row">
        <div class="scrollPanel">
            <img style="width: 480px;height: 300px;" src="/heat_exhange.png" alt="Heat Exchange">
            <div>
                <p>
                    {{ 'CT_2_0.UTILITIES_PARA1' | translate }}
                </p>
                <p>
                    {{ 'CT_2_0.UTILITIES_PARA2' | translate }}
                </p>
                <p>
                    {{ 'CT_2_0.UTILITIES_PARA3' | translate }}
                </p>
            </div>
        </div>
        <div class="ct_image">
            <img style="max-width: 400px; height: auto;" src="/CT2_0_open.png" alt="Cooling Tower CT 2.0">
        </div>
    </div>
</section>


<app-karriere-section></app-karriere-section>