<section class="contentWrap" aria-label="Impressum">
    <div class="scrollPanel">
        <h1>Impressum & Offenlegung</h1>
        <p class="intro-header"><em>Informationspflicht lt. §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch bzw. §63
                Gewerbeordnung und
                Offenlegungspflicht lt. §25 Mediengesetz</em></p>

        <h2>Copyright und Links</h2>
        <p>
            Die Weiterverwendung und/oder Vervielfältigung sämtlicher oder einzelner Inhalte, sowie die Darstellung
            dieser Seiten in Frames bedarf einer schriftlichen Erlaubnis. Alle Rechte vorbehalten MBO services GmbH.
        </p>

        <h2>Firmendaten</h2>
        <p>
            <strong>Firmenname:</strong> MBO services GmbH<br>
            <strong>Gewerbewortlaut (Gewerbeart: reglementiertes Gewerbe):</strong> Metalltechnik für
        </p>

        <h3>Berechtigungen</h3>
        <ul style="list-style-type: none; padding-left: 0; margin-bottom: 20px;">
            <li><strong>LI Metalltechniker:</strong> Metall- und Maschinenbau verbunden mit Metalltechnik für Schmiede
                und Fahrzeugbau; Metalltechnik für Land- und Baumaschinen (verbundenes Handwerk)</li>
            <li>Oberflächentechnik verbunden mit Metalldesign (verbundenes Handwerk)</li>
            <li><strong>LG Versand-, Internet- und allgemeiner Handel:</strong> Handelsgewerbe mit Ausnahme der
                reglementierten Handelsgewerbe und Handelsagent</li>
            <li><strong>FG Ingenieurbüros:</strong> Ingenieurbüros (Beratende Ingenieure) auf dem Fachgebiet
                Maschinenbau</li>
            <li><strong>FG Unternehmensberatung, Buchhaltung und Informationstechn.:</strong> Unternehmensberatung
                einschließlich der Unternehmensorganisation</li>
        </ul>

        <p>
            <strong>Firmensitz:</strong> Pichl 94, AT-5441 Abtenau<br>
            <strong>Kontaktdaten:</strong> <a
                href="mailto:office&#64;mbo-services.at">office&#64;mbo-trinity.com</a><br>
            <strong>UID Nr:</strong> ATU 70359747<br>
            <strong>Firmenbuchnummer:</strong> 448192g<br>
            <strong>Firmengericht:</strong> Landesgericht Salzburg<br>
            <strong>Rechtsform:</strong> Gesellschaft mit beschränkter Haftung<br>
            <strong>Behörde gem. ECG (E-Commerce Gesetz):</strong> Bezirkshauptmannschaft Hallein<br>
            <strong>Kammerzugehörigkeit:</strong> Wirtschaftskammer Österreich
        </p>

        <h2>Angaben zur Online-Streitbeilegung</h2>
        <p>
            Verbraucher haben die Möglichkeit, Beschwerden an die Online-Streitbeilegungsplattform der EU zu richten: <a
                href="http://ec.europa.eu/odr" target="_blank">http://ec.europa.eu/odr</a>.<br>
            Sie können allfällige Beschwerde auch an die oben angegebene E-Mail-Adresse richten.
        </p>
    </div>
</section>