<section class="hero" [attr.aria-label]="'ARIA.HERO' | translate">
    <app-slideshow
        [slides]="slides"
        [showOverlay]="true"
        [overlayTitle]="'HERO.TITLE' | translate"
        [overlaySubtitle]="'HERO.SUBTITLE' | translate"
        [cards]="cards"
        [showCards]="true"
        [cardsPerRow]="2">
    </app-slideshow>
</section>


<section class="contentWrap" [attr.aria-label]="'ARIA.CONTENT' | translate">
    <div class="scrollPanel">
        <p>
            {{ 'PRODUCT_PAGES.REINRAUMLOESUNG.PARA1' | translate }}
        </p>
        <p>
            {{ 'PRODUCT_PAGES.REINRAUMLOESUNG.PARA2' | translate }}
        </p>
        <p>
            {{ 'PRODUCT_PAGES.REINRAUMLOESUNG.PARA3' | translate }}
        </p>
        <p>
            {{ 'PRODUCT_PAGES.REINRAUMLOESUNG.PARA4' | translate }}
        </p>
        <p>
            {{ 'PRODUCT_PAGES.REINRAUMLOESUNG.PARA5' | translate }}
        </p>
        <p>
            {{ 'PRODUCT_PAGES.REINRAUMLOESUNG.PARA6' | translate }}
        </p>
        <p>
            {{ 'PRODUCT_PAGES.REINRAUMLOESUNG.PARA7' | translate }}
        </p>
        <ul>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.LIST_ITEM1' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.LIST_ITEM2' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.LIST_ITEM3' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.LIST_ITEM4' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.LIST_ITEM5' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.LIST_ITEM6' | translate }}</li>
            </p>

        </ul>
        <p>
            {{ 'PRODUCT_PAGES.REINRAUMLOESUNG.SPECS_INTRO' | translate }}
        </p>
        <ul>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.SPECS_ITEM1' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.SPECS_ITEM2' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.SPECS_ITEM3' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.SPECS_ITEM4' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.SPECS_ITEM5' | translate }}</li>
            </p>
            <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.SPECS_ITEM6' | translate }}</li>
            </p>
                    <p>
                <li>{{ 'PRODUCT_PAGES.REINRAUMLOESUNG.SPECS_ITEM7' | translate }}</li>
            </p>

        </ul>
    </div>
</section>






<app-karriere-section></app-karriere-section>
