<section class="hero" aria-label="Hero">
    <div class="heroRow">
        <app-slideshow [slides]="slides" [showOverlay]="true" [overlayTitle]="'HERO.TITLE' | translate"
            [overlaySubtitle]="'HERO.SUBTITLE' | translate">
        </app-slideshow>
    </div>

    <div class="cards">
        <article class="card invisible-card">
            <h3>Placeholder</h3>
            <p>
                This card is invisible
            </p>
        </article>

        <article class="card" id="praezisionsklimageraet">
            <h3>A²HTC - Präzissionsklimagerät</h3>
            <p>
                Die Präzisionsklimagerät A²HTC ist ein Luft-Luft-Prozessthermostat zur präzisen Regelung von Prozessumgebungen mit höchsten Anforderungen an Temperatur, relative Luftfeuchtigkeit und Druckintegrität.
            </p>
        </article>
    </div>
</section>


<section class="contentWrap" aria-label="Content">
    <div class="scrollPanel">
        <p>
            Die MBO Trinity GmbH baut und integriert hochpräzise und hochkomplexe Lösungen zur Klimatisierung von:
        </p>
        <ul>
        <p>
            <li>Reinräumen</li>
        </p>
        <p>
            <li>WLabore</li>
        </p>
        <p>
            <li>Test Benches, Prüfständen, Klimakammern</li>
        </p>
        <p>
            <li>Abgegrenzte Prozessumgebungen</li>
        </p>
        <p>
            <li>Schutzbereiche mit Laminarflow oder turbulenter Mischströmung</li>
        </p>

        </ul>
        <p>
            Planung und Errichtung von individuellen Klimatisierungslösungen für Prozessumgebungen oder Lieferung
            von eigenentwickelten Skids von Präzisionsklimageräten, wie z.B. den A²HTC. </p>
        <p>
            Unsre Klimatechnik ist auf höchste Versorgungssicherheit und für die Einhaltung engster Spezifikationen
            konzipiert – z.B.:</p>

        <ul>
            <p>
                <li>Temperatur: 21°C – 23 °C; Stabilität ±0,02 K</li>
            </p>
            <p>
                <li>Rel. Luftfeuchte: 35 % – 50 %; Stabilität ±1%</li>
            </p>
            <p>
                <li>Druck: Stabilität ±1 Pa</li>
            </p>

        </ul>

    </div>
</section>

<app-karriere-section></app-karriere-section>