<section class="hero" [attr.aria-label]="'ARIA.HERO' | translate">
    <app-slideshow [slides]="slides" [showOverlay]="true" [overlayTitle]="'HERO.TITLE' | translate"
        [overlaySubtitle]="'HERO.SUBTITLE' | translate" [cards]="cards" [showCards]="true" [cardsPerRow]="2">
    </app-slideshow>
</section>


<section class="contentWrap" aria-label="Content">
    <div class="content-row">
        <div class="scrollPanel">
            <p>
                {{ 'A2_HTC.INTRO_PARA' | translate }}
            </p>
            <p>
                {{ 'A2_HTC.MODES_INTRO' | translate }}
            </p>

            <ul>
                <li>{{ 'A2_HTC.MODE1' | translate }}
                </li>

                <li>{{ 'A2_HTC.MODE2' | translate }}</li>

            </ul>

            <p>
                {{ 'A2_HTC.APPLICATIONS_TITLE' | translate }}
            </p>

            <ul>
                <li>{{ 'A2_HTC.APP1' | translate }}</li>
                <li>{{ 'A2_HTC.APP2' | translate }}</li>
                <li>{{ 'A2_HTC.APP3' | translate }}</li>
                <li>{{ 'A2_HTC.APP4' | translate }}</li>
            </ul>
        </div>
        <div class="ct_image">
            <img src="/A2HTC.png" alt="Cooling Tower CT 2.0">
        </div>
    </div>
</section>


<section class="contentWrap" aria-label="Content">
    <div class="content-row">
        <div class="scrollPanel performance_data">
            <h3>
                <pre>{{ 'A2_HTC.PERFORMANCE.TITLE' | translate }}</pre>
            </h3>
            <div class="performance_data_container">
                <div class="performance_data_labels">
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.COOLING_PERF' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.AIR_RATE' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.MODE1_LABEL' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.MODE2_LABEL' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.INLET_TEMP' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.DIMENSION' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.VOLTAGE' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.POWER_CONSUMPTION' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.REFRIGERANT' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.MONITORING' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.CONNECTION' | translate }}
                    </p>
                    <p>
                        {{ 'A2_HTC.PERFORMANCE.APPROVALS' | translate }}
                    </p>

                </div>
                <div class="performance_data_values">
                    <p>
                        30 kW
                    </p>
                    <p>
                        up to 3.200 m³/h
                    </p>
                    <p style="line-height: 0.8;">
                        ± 0,05 K<br>± 0,5 % RH
                    </p>
                    <br>
                    <br>
                    <br>
                    <p>
                        <!-- Empty line for layout spacing -->
                    </p>
                    <p>
                        <!-- Empty line for layout spacing -->
                    </p>
                    <p>
                        6 °C up to 24 °C water (+ glycol)
                    </p>
                    <p>
                        L 1.200 x B 950 x H 2.1500 mm
                    </p>
                    <p>
                        400 V / 480 V
                    </p>
                    <p>
                        35 kW
                    </p>
                    <p>
                        R513A
                    </p>
                    <p>
                        OPC UA and sensor integration
                    </p>
                    <p>
                        Ethernet TCP
                    </p>
                    <p>
                        CE ( UL / SEMI )
                    </p>

                </div>
            </div>
        </div>
        <div class="ct_image">
            <img src="/A2HTC_open.png" alt="Cooling Tower CT 2.0">
        </div>
    </div>
</section>

<br>
<br>
<br>

<app-karriere-section></app-karriere-section>